@charset "utf-8";
/* CSS Document */

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/*Modal*/
.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 90vw;
  height: 90vh;
  background: white;
  z-index: 1;
  display: none;
}

.popup button {
  background: #3eb489;
  color: #fff;
  border-radius: 7px;
  padding: 0.5rem 0.7rem;
  border: none;
  margin: 5px;
}

.popup button:hover {
  background-color: #555555;
  color: white;
}


.popup .hyper{
  background: #3eb489;
  color: #fff;
  border-radius: 7px;
  padding: 0.5rem 0.7rem;
  border: none;
  margin: 5px;
}

.popup .btnde {
  background: gray;
  color: #fff;
  border-radius: 7px;
  padding: 0.5rem 0.7rem;
  border: none;
  margin: 5px;
}

.content {
  height: fit-content;
}
.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: white;
  border-radius: 20px;
  box-sizing: border-box;
  width: 500px;
  height: 220px;
  z-index: 10;
  opacity: 2;
  text-align: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 19px 38px, rgba(0, 0, 0, 0.1) 0px 15px 12px;
}

.popup .icon {
  margin: 5px 0px;
  width: 50px;
  height: 50px;
  border: 2px solid #3eb489;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  line-height: 60px;
}

.popup .icon i.fa {
  font-size: 30px;
  color: #3eb489;
}

.popup .icon i.fas {
  font-size: 30px;
  color: #3eb489;
}

.popup .iconError {
  margin: 5px 0px;
  width: 50px;
  height: 50px;
  border: 2px solid #cf362b;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  line-height: 60px;
}

.popup .iconError i.fas {
  font-size: 30px;
  color: #cf362b;
}

.popup .description {
  color: #222;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 6px;
  font-family: "Poppins", sans-serif;
}

.popup .content h1 {
  margin: 5px 0px;
  font-size: 25px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  padding-bottom: 1.2rem;
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #3eb489;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup .close-btn:hover {
  color: #40e0d0;
}

.popup.active .overlay {
  display: block;
}

.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
  margin: 15px;
}

.popup.active .iconError {
  transition: all 300ms ease-in-out 250ms;
}

.popup.active .title {
  transition: all 300ms ease-in-out 300ms;
}

.popup.active .description {
  transition: all 300ms ease-in-out 350ms;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
  height: fit-content;
}
